{% extends 'base.html.twig' %}

{% block title %}Devenir site de collecte{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="title-page">
            <span>Devenir un site de collecte ?</span>
        </h1>
        <p>Texte en construction</p>
        <p>
            Les avantages : <br>
            -   	Accéder au monde étudiant à travers nos associations partenaires <br>
            -   	Adhérer à un projet favorisant l’emploi local et le recyclage <br>
            -   	Vous garantir l’exclusivité lors de l’installation <br>
            -   	Vous garantir l’installation de votre application en fonction du kit <br>
            -   	Apposer notre logo sur vos supports de communication <br>
            -   	Développer votre publicité et votre business
        </p>

        <div class="row mt-5 mb-5" id="plaquettes">
            <div class="col-12 text-center">
                <h3 class="title_inter">
                    Devenir site de collecte
                </h3>
                <div class="plaquette">
                    <a href="{{ plaquette }}" class="btn btn-info" target="_blank">Voir la plaquette</a>
                </div>
            </div>
        </div>

        <div class="formulaire">
            {{ include ('includeForm.html.twig')}}
        </div>
    </main>
{% endblock %}
