<section class="constat">
    <div class="row text-center">
        <h2 class="primary-title col-12">Le constat</h2>
        <p class="col-12">
            Il y a dans les Hauts-de-France…
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-3 text-center">
            <img src="{{ asset('images/constat-1.png') }}"
                 alt="2 téléphones portables en hibernation par personne"
                 class="img-fluid img-constat">
            <p>
                <span class="accroche_primaire"><span class="mot_cle">12 millions</span><br></span> de téléphones en hibernation dans les tiroirs de notre région
            </p>
        </div>
        <div class="col-12 col-sm-3 text-center">
            <img src="{{ asset('images/constat-2.png') }}"
                 alt="115000 étudiants dans la métropole Lilloise"
                 class="img-fluid img-constat">
            <p class="">
                <span class="accroche_primaire"><span class="mot_cle">230 000</span><br> étudiants</span> dans la région, souhaitant agir et s’enrichir en devenant bipers
            </p>
        </div>
        <div class="col-12 col-sm-3 text-center">
            <img src="{{ asset('images/constat-3.png') }}"
                 alt="17 incubateurs / accélérateurs de startup dansles Hauts de France"
                 class="img-fluid img-constat">
            <p>
                <span class="accroche_primaire"><span class="mot_cle">+ de 660</span><br>  start-Ups innovantes</span> et qui souhaitent se développer dans notre région
            </p>
        </div>
    </div>
</section>
