{% extends 'base.html.twig' %}

{% block title %}Non autorisé{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1 class="primary-title">
        Cette page n'est malheureusement pas disponible !
    </h1>
    <a href="{{ path('home') }}" class="fourth-button">Retour à l'accueil</a>

{% endblock %}
