{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <main class="home">

        {{ include('/home/slide.html.twig') }}

        <section class="steps">
            <h1 class="primary-title" >Cash - Rapide - Rentable</h1>
        </section>

        <section class="home-estimation">
            <h1 class="primary-title">A toi de jouer !</h1>
            <h2 id="app-download-title">Télécharge l'appli</h2>
            <p>pour avoir une estimation précise</p>
            <a><img src="/images/app-store.png" alt="Lien vers l'applestore"/></a>
            <a><img src="/images/google-play.png" alt="Lien vers le Google Play"/></a>
            <h2>Ou</h2>
            <a href="#" title="Lien vers l'estimation en ligne" class="secondary-button">Fais une estimation en ligne</a>
            <h2>Tu décides de vendre ton tèl</h2>
            <a href="#" title="Lien vers les points de collecte" class="secondary-button">Trouve un point de collecte</a>
        </section>

        <section class="home-partner">
            <h1 class="primary-title">Ils nous font confiance</h1>
            <h2>+ de 15 partenaires nous font confiance</h2>
            <a href="#" title="Lien vers la page partenaire">Rejoindre nos partenaires</a>
            <article>
                <img src="/images/ilevia-logo.png" alt=""/>
                <img src="/images/jules-logo.png" alt=""/>
                <img src="/images/yuka-logo.png" alt=""/>
            </article>
        </section>

        <section class="contact">
            <h1 class="primary-title">Contact</h1>
            <a href="#" title="Lien vers la page contact">Contacte nous</a>
        </section>
    </main>
{% endblock %}
