{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <section>
            <p>Bip-bip</p>
            <p>rachète ton tèl et en fait </p>
            <p>le 1er mobile </p>
            <p>recyclé et connecté aux </p>
            <p>bons plans de ta région</p>
            <div class="arrow-down"></div>
        </section>
    </main>
{% endblock %}
