<form method="post" action="{{ path('organisms_delete', {'id': organism.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organism.id) }}">
    <button class="btn">Supprimer</button>
</form>
