{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
    <main id="qui-sommes-nous">
        <h1 class="primary-title" >Qui sommes-nous ?</h1>
        <p>Cette page est en construction</p>
    </main>
{% endblock %}
