{% extends 'base.html.twig' %}

{% block title %}BipBip - Ton Green Mobile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('histoire') }}
{% endblock %}

{% block body %}
    <main class="home">
        <div class="title-vends">
            <img class="img-fluid" src="{{ asset('images/vends_title.png') }}" alt="NotreSolution">
        </div>

        <div class="row justify-content-center m-4">
            <p>Bipbip est la solution innovante et environnementale pour la région... on te fait un dessin ?</p>
            <img class="img-fluid w-75" src="{{ asset('images/schema-solution.png') }}" alt="solution">
        </div>

        <div class="row m-5">
            <div class="col-12 mx-auto text-justify p-3 mt-5">
                <p>Bip Bip Mobile a pour mission de faire le ménage dans les Hauts-de-France en proposant de recycler tous les téléphones
                    usagés ou inutilisés à l'aide des associations étudiantes qui nous accueillent et nous accompagnent lors des points de collecte.</br>
                    C'est l'occasion pour nos partenaires locaux de se faire connaître davantage dans notre région.</p>

                <ul>
                    <li class="text-justify list-unstyled m-1">Notre équipe d’experts en télécommunication a la volonté d’offrir un smartphone reconditionné qui propose :</li>
                    <li class="mt-1">- De réduire l’impact environnemental de la production des téléphones</li>
                    <li>- Le MEILLEUR compromis entre la qualité et le coût</li>
                    <li>- Des contenus digitaux régionaux développés par des entreprises proches de chez toi</li>
                </ul>
                <p>La marque déposée pour ce 1er téléphone « HAUTS DE FRANCE » est BipBip.</p>
            </div>
        </div>

        {% include('home/5pictos.html.twig') %}

    </main>
{% endblock %}
