{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                <h1 class="primary-title">Notre politique de confidentialité</h1>
            </div>
        </div>
    </main>
{% endblock %}
