{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
    <main id="cgu">
        <h1 class="primary-title" >Conditions Générales d'Utilisation</h1>
        <p>Cette page est en construction</p>
    </main>
{% endblock %}
