{% extends 'base.html.twig' %}

{% block title %}Notre histoire - BipBip{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto form p-4">
                <h1 class="primary-title">Notre histoire</h1>
                <p>L'idée : <br>
                    Amener sur Lille des points de collectes de smartphone qui vont permettre de <br>
                    - Faire un geste pour l'environnement <br>
                    - Mettre de l'argent facilement dans ta poche grâce à un circuit de distribution avec peu d'intermédiare
                    <br>
                    - Créer de l'emploi régional à l'aide de l'énergie étudiante de la Métropole Lilloise
                </p>
                <p>L'étape suivante : <br>
                    Donner vie à des BipBip mobile en mettant en oeuvre des actions locales ! <br>
                    Au plus nous collectons de téléphones, plus les prix de nos BipBip mobile pourront être avantageux tout en gardant sa qualité absolue !
                    <br>
                    On compte sur toi pour collecter un MAXIMUM de téléphones et de mettre la machine en marche!
                </p>
                <div>
                    <p>
                        Chiffres clés
                        <br>
                        X <br>
                        Téléphones en hibernation connues
                    </p>
                    <p>
                        X <br>
                        Etudiants souhaitant agir et s'enrichir (nos bippers)
                    </p>
                    <p>
                        X <br>
                        Startup innovantes qui gagnent à être
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
