{% extends 'base.html.twig' %}

{% block title %}On recrute{% endblock %}

{% block body %}
    <main id="qui-sommes-nous">
        <h1 class="primary-title" >On recrute !</h1>
        <p>Cette page est en construction</p>
    </main>
{% endblock %}
