$primary-color: #159FAD;
$secondary-color: #60CEC6;
$third-color : #56B678;
$fourth-color : #007F68;

$primary-font: 'Avenir Next';
$secondary-font : 'Century Gothic';
$custom-file-text: (
    fr: "Parcourir",
);
