$primary-color: #219BAB;
$secondary-color: #A3BFA8;
$third-color : #3B9655;
$fourth-color : #F0BD5F;
$fifth-color : #DCE5DC;
$sixth-color : #ECECEC;
$grey-color : #BDBCBC;

$primary-font: 'Avenir Next';
$secondary-font : 'Century Gothic';
$third-font : 'Lobster Hand';
$custom-file-text: (
    fr: "Parcourir",
);
