@import "app";
@import "vars";

.admin-tables {
    width : 80%;
    margin : auto;
    position : relative;
    @media screen and (max-width: 960px) {
        font-size : 0.9rem;
    }

    h2 {
        margin-bottom: 5px;
        z-index: -1;
    }

    .add{
        width : 16%;
        height : 53px;
        padding : 12px;
        position : absolute;
        right : 9%;
        top : -18px;
        background-color: $primary-color;
        @media screen and (max-width: 1024px){
            left: 80%;
            top: 0;
            width: 164px;
            height: 48px;
        }
    }

    .container{
        margin-top : 30px;

        .table-head {
            background-color: $secondary-color;
            color: white;
            padding: 10px;
        }

        .fourth-button, .secondary-button {
            margin: 10px auto;
            padding : 1px;
            width : 110px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: white;
            }
        }
    }
}

#organisms {
    position: relative;

    .adminTitle {
        text-align: center;
        margin-top: 20px;
    }

    .addOrganism {
        position: absolute;
        top: -13px;
        right : 15%;
        background-color: $primary-color;
        @media screen and (max-width: 1024px){
            left: 74%;
            top: -23px;
        }
    }

    .secondary-button {
        width: 16%;
    }


    .adminPartners {
        margin: 2% auto;
        width: 70%;

        #table-head {
            background-color: $secondary-color;
            color: white;
            padding: 10px;
            height: 80px;
        }

        tbody {

            .tableContain {
                border-bottom: #dee2e6 1px solid;
                width: 30%;

                .fourth-button, .secondary-button {
                    margin: 10px auto;
                    padding : 1px;
                    width : 110px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        td {
            padding: 10px 10px 10px 55px;
        }
    }
}

#new-collect{
    .fourth-button{
        width : 200px;
    }

    label{
        margin-top : 40px;
    }

    select{
        margin-bottom : 20px;
    }
}

