@import "vars";
@import '~bootstrap/scss/bootstrap';


/* Boutons */

@mixin button($color){
    background-color : $color;
    position : relative;
    text-decoration : none;
    font-size : 1rem;
    color : white;
    width : 60%;
    display : block;
    margin : 2% auto 15% auto;
    padding : 3%;
    text-align : center;

    &:after{
        content : "";
        height : 0;
        width : 0;
        position : absolute;
        z-index : -1;
        left : 0;
        bottom : -4.9vh;
        border-right: 30vw solid transparent;
        border-left: 30vw solid transparent;
        border-top: 5vh solid $color;
    }
}

.primary-button{
    @include button($primary-color)
}

.secondary-button{
    @include button($secondary-color)
}

.third-button{
    @include button($third-color)
}


/* GENERAL */
body{
    font-family: 'co-headline', Arial sans-serif;
    color : black;
    font-size : 1rem;
}

a{
    color : black;
}

.primary-title{
    background-color : white;
    position : relative;
    text-transform : uppercase;
    font-size : 1rem;
    font-weight: 500;
    color : $secondary-color;
    text-align : center;
    padding : 2%;
    box-shadow : 0 5px 15px #9f9f9f;
    border-radius : 5px;
    width : 80%;
    margin : 12% auto;

    &:after{
        content : "";
        height : 0;
        width : 0;
        position : absolute;
        z-index : -1;
        bottom : -2vh;
        left : 27vw;
        text-align : center;
        border-right: 13vw solid transparent;
        border-left: 13vw solid transparent;
        border-top: 2vh solid $secondary-color;
    }
}

/* HEADER NAV */
header{
    .logo-bipbip{
        display : block;
        width : 80%;
        margin : auto;

        img{
            width : 100%;
        }
    }

    #menu{
        display : none;
        z-index : 9999;
        background : #FFFFFF;
        padding : 3em 2em;
        width : 100%;
        height : 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        #header-menu{
            display : flex;
            justify-content : space-around;
            align-items : center;

            .close-button{
                width : 15%;
            }
        }

        ul{
            .primary-title-menu{
                &:after{
                    left : 32%;
                }

                a{
                    color : $secondary-color;
                }
            }
        }
    }

    #menu.displayed{
        display : block;
    }

    .circle-buttons{
        display : flex;
        justify-content: space-between;

        #menu-burger{
            display : flex;
            flex-direction : column;
            justify-content : center;
            align-items: center;
            border-radius : 50%;
            width : 8vw;
            min-width : 70px;
            height : 8vw;
            min-height: 70px;
            background-color : $primary-color;
            position : fixed;
            right : 5vw;
            bottom : 5vh;
            z-index : 5;

            img{
                width : 30%;
                margin-bottom : 8%;
            }

            p{
                font-size : 0.8rem;
                color : white;
                margin-bottom : 0;
            }
        }

        #faq-button{
            display : flex;
            justify-content : center;
            align-items : center;
            border-radius : 50%;
            width : 8vw;
            min-width : 70px;
            height : 8vw;
            min-height: 70px;
            background-color : black;
            position : fixed;
            left : 5vw;
            bottom : 5vh;
            z-index : 5;

            a{
                color : white;
                font-size : 0.8rem;
                margin-bottom : 0;
            }
        }
    }
}

/* FOOTER */
footer {
    li{
        text-align : center;
        margin : 4%;
        font-size : 1rem;
    }

    .social-networks{
        display : flex;
        justify-content : center;
        align-items: center;
        margin : 10% 5% 30% 5%;

        a{
            text-align : center;
            display : block;
            margin : 0 2%;

            img{
                width : 75%;
            }
        }
    }
}

