/* IMPORT - FONTS */

@import "vars";
@import '~bootstrap/scss/bootstrap';
@font-face
{
    font-family: Avenir Next;
    src: url('AvenirNextLTPro-Regular.otf') format('opentype');
}
@font-face
{
    font-family: Lobster Hand;
    src: url('LobsterHand.otf') format('opentype');
}

/* GENERAL */

body{
    font-family: $primary-font;
    color : black;
    font-size : 1rem;
    background-image: url("../images/fond.png");
    background-size: contain;
    background-repeat: repeat;
}

@mixin bg($color) {
    background-color: $color;
}

.primary-bg {
    @include bg($primary-color)
}

.secondary-bg {
    @include bg($secondary-color)
}

.fifth-bg {
    @include bg($fifth-color)
}

main{
    min-height : 70vh;
    @media screen and (min-width: 768px){
        min-height : 65vh;
    }
}

a{
    color: black;
    text-decoration: none;

    &:hover{
        color: black;
        text-decoration: none;
    }
}

.explain-text-color {
    color: $primary-color;
    font-weight: bold;
}

/* TITLES */

.primary-title{
    font-family: $secondary-font, sans-serif;
    padding:20px;
    font-size : 1.1rem;
    font-stretch: expanded;
    font-weight: 900;
    text-align : center;
    margin : auto;
    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-up(md) {
        font-size : 1.9rem;
    }
}

.primary-title-left {
    font-family: $secondary-font, sans-serif;
    padding: 20px;
    font-size: 1.1rem;
    font-stretch: expanded;
    font-weight: 900;
    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-up(md) {
        font-size: 1.9rem;
    }
}

.secondary-title{
    text-transform : uppercase;
    font-size : 1.1rem;
    font-weight: 700;
    color : $primary-color;
    padding : 1%;
    margin-left: 20px;
}

.secondary-round-title {
    font-family: $secondary-font, sans-serif;
    padding:20px;
    font-size : 1.1rem;
    font-weight: 900;
    text-align : center;
    background-color: $secondary-color;
    border-radius: 25px;
    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-up(md) {
        font-size : 1.9rem;
    }
}

.estim-round-bubble {
    font-family: $secondary-font;
    padding: 10px;
    font-size : 1rem;
    font-weight: 900;
    color: white;
    text-align : center;
    background-color: #41A1AB;
    border-radius: 25px;
    @include media-breakpoint-up(sm) {
        font-size : 1.4rem;
    }
    @include media-breakpoint-up(lg) {
        font-size : 1.7rem;
    }
}

/* BUTTONS */

@mixin button($color){
    display: inline-block;
    font-family: $secondary-font, sans-serif;
    background-color : $color;
    text-align : center;
    vertical-align: center;
    color : white;
    font-size : 1rem;
    font-weight: bold;
    min-width : 150px;
    max-width: 230px;
    border-radius: 25px;
    margin : auto;
    padding : 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    &:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color : white;
        text-decoration: none;
    }
    @media screen and (min-width: 768px) {
        font-size: 1.2rem;
        padding : 15px;
        min-width: 200px;
        max-width: 300px;
    }
}

.primary-button{
    @include button($primary-color)
}

.secondary-button{
    @include button($secondary-color)
}

.third-button{
    @include button($third-color)
}

.fourth-button{
    @include button($fourth-color)
}

.grey-button{
    @include button($grey-color);
    color: black;
}

.small-button {
    display: inline-block;
    font-family: $secondary-font, sans-serif;
    background-color : $primary-color;
    text-transform: uppercase;
    font-weight: bold;
    text-align : center;
    color : white;
    font-size : 1rem;
    width: 80px;
    max-height: 3rem;
    border-radius: 25px;
    margin : 0;
    padding: 2px;

    @media screen and (min-width: 768px) {
        font-size: 1.2rem;
    }

    &:hover {
        color: white;
        text-decoration: none;
    }
}

/* HEADER NAV */

header{
    .logo-title{
        img{
            width : 60%;
            @include media-breakpoint-up(sm) {
                width: 50%;
            }
            @include media-breakpoint-up(xl) {
                width: 40%;
            }
        }
    }

    /* MENU */

    #menu{

        a{
            color: black;
            text-decoration: none;

            &:hover{
                color: black;
                text-decoration: none;
            }
        }

        display : none;
        z-index : 9998;
        background : #FFFFFF;
        padding : 1em 2em;
        width : 100%;
        height : 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .close-button{
            z-index : 9999;
            width : 50%;
            max-width : 50px;
            position : absolute;
            top : 3%;
            right : 3%;
            cursor : pointer;
        }

        #phone-menu {
            max-width: 80%;
            height: auto;
        }

        ul{
            .primary-title-menu-color {
                font-family: $third-font;
                color: $primary-color;
                font-size: 1.6rem;
            }

            .primary-title-menu {
                font-family: $third-font;
                font-weight: lighter;
                font-size: 1.2rem;
                color : black;
            }
        }

        .user-infos-menu{
            text-align: center;

            h3{
                color : $primary-color;
                font-size : 1.2rem;
            }

            a{
                display : block;
                width : 200px;
                margin : 10px auto 10px auto;
                font-size : 1.2rem;
            }

            .disconnection{
                color : darkred;
                margin : auto;
                font-style: italic;
                font-size: 1.1rem;
            }

            .connect{
                color : $primary-color;
                font-weight: 500;
            }
        }
    }

    #menu.displayed{
        display : block;
    }

    .circle-buttons{
        display : flex;
        justify-content: space-between;
        cursor : pointer;

        #menu-burger {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            box-shadow: 5px 3px 10px silver;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: fixed;
            right: 15%;
            top: 2%;
            z-index: 5;

            img {
                width: 50%;
            }

            p {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {

            #menu-burger {
                align-self: flex-start;
                border-radius: 5px;
                background-color : $primary-color;
                box-shadow: 5px 3px 10px $primary-color;
                width: 120px;
                min-height: 40px;
                height: 40px;
                position: absolute;
                top: 30px;
                right: 50px;

                img {
                    display: none;
                }

                p{
                    display: inline;
                    font-size : 1.1rem;
                    color : white;
                    margin-bottom : 0;
                }
            }
        }

        #faq-button{
            display : flex;
            justify-content : center;
            align-items : center;
            border-radius : 50%;
            width : 70px;
            height : 70px;
            position : fixed;
            left : 5vw;
            bottom : 5vh;
            z-index : 5;
        }
    }
}

/* VENDS */

.title-vends {
    background-color: $secondary-color;
    img {
        height: 80px;
        width: auto;
    }
}

.img-fleche {
    height: 30px;
    width: auto;
}

.blue-arrow {
    font-size: 3rem;
    color: $primary-color;
}

.comment-marche-vends {
    background-color: $fifth-color;
    font-weight: 700;
    font-size: 1rem;

    img {
        width: 25px;
        height: auto;
    }
}

#tel-collectes {
    height: 250px;
    width: auto;
    @include media-breakpoint-up(md) {
        margin-top: -80px;
        margin-bottom: -40px;
        height: 360px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: -60px;
        margin-bottom: -40px;
        height: 340px;
    }
    @include media-breakpoint-up(xl) {
        margin-top: -80px;
        margin-bottom: -40px;
        height: 360px;
    }
}

#photo-processus {
    max-height: 250px;
    float: left;
}

.border-right-screen {
    border-right: none;
    @include media-breakpoint-up(sm) {
        border-right: solid $secondary 1px;
    }
}


/* TEAM */

.team-page {
    .carousel {
        width: 195px;
        box-shadow: 5px 3px 10px grey;
    }
    .carousel-item {
        img {
            height: 350px;
            width: 195px;
        }
    }
}

/* FOOTER */

footer {
    .social-networks {
        width: 50px;
        height: auto;
    }

    .links-footer{
        background-color: $secondary-color;
        font-size: 0.7rem;
        line-height: 1rem;
        @include media-breakpoint-up(md) {
            font-size: 1rem;
            line-height: 1.4rem;
        }

        img {
            height: 50px;
            width: auto;
            @include media-breakpoint-up(md) {
                height: 70px;
            }
        }

        a{
            color: black;
        }
    }
}
