#bdc {

    .logo-left {
        width: 180px;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        padding-top: 30px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

}
