@import "vars";

.editTitle {
    text-align: center;
}


.editLink{
    display: block;
    text-align: center;
    margin-left: 20%;
    @media screen and (min-width: 740px){
        margin-left: 42%;
    }
}

