@import "vars";
@import "~bootstrap/scss/bootstrap";

// customize some Bootstrap variables
// the ~ allows you to reference things in node_modules

.menu-faq {
    display : flex;
    flex-direction : row;
    justify-content : center;
    margin: 6% auto ;
    max-width: 60%;
    width: 60%;
    cursor: pointer;
}

.question {
    display: block;
    width: 100%;
    text-align: center;
    font-size : 1.2rem;
    padding: 20px;
    border-radius: 5px;
    background-color : $secondary-color;
    opacity: 90%;
    color : white;
    cursor: pointer;
    margin: 10px auto;
}

.answer {
    display : none;
    background-color : rgba(243, 252, 251, 0.35);
    opacity: 95%;
    font-size : 1rem;
    font-weight: 300;
    border-radius: 2px;
    padding: 20px;
    width: 100%;
    text-align: justify;
    box-shadow: inset 2px 0px 10px rgba(150, 134, 134, 0.25);
    cursor: pointer;
}

.answer.displayed {
    display: block;
}

.add-button {
    display : flex;
    justify-content : center;
    align-items : center;
    width : 20vw;
    min-width : 90px;
    max-width : 100px;
    height : 8vw;
    min-height: 48px;
    max-height: 80px;
    background-color : $fourth-color;
    @media screen and (min-width: 740px){
        display : flex;
        justify-content : center;
        align-items : center;
        border-radius : 60%;
        width : 20vw;
        min-width : 59px;
        max-width : 100px;
        height : 8vw;
        min-height: 64px;
        max-height: 82px;
        background-color : $fourth-color;
        position : fixed;
        right: 5vw;
        bottom: -2vh;
        z-index : 5;
    }
}
