@import "vars";
@import "~bootstrap/scss/bootstrap";

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
// the ~ allows you to reference things in node_modules

.question, .question ul {
    padding:0;
    list-style:none;
    width:100%;
}
.question article {
    position: relative;
}
.question a {
    display:block;
    text-decoration: none;
}
.card-text {
    position: absolute;
    left:-999em;
}
.question:hover article li {
    top: 15px;
    left: 30%;
    z-index: 1;
    padding: 20px;
    width: 80%;
}


