@import "vars";

#final_estimation {
    margin : auto;
    @media screen and (min-width: 740px) {
        width : 80%;
    }
    @media screen and (min-width: 1024px) {
        width : 60%;
    }

    .container {
        padding : 2%;
    }

    .jumbotron{
        margin-bottom : 0;
    }

    h2{
        font-size : 1.3rem;
    }

    h3{
        font-size : 1.2rem;
    }

    h4 {
        margin-top: 10px;
        font-size : 1.3rem;
        color : $fourth-color;
    }

    .form-check {
        font-style: italic;
        font-family: monospace;
    }

    .form-check-label {
        font-size : 1.1rem;
        padding-right: 20px;
    }

    .form-check-input {
        align-content: center;
        position: relative;
        cursor : pointer;
    }

    .choice-box {
        font-size : 1.1rem;
        padding-left : 3%;
    }

    .quest {
        font-size: 10px;
        box-shadow: 0 0 100px -15px lightgrey;
        margin-bottom: 32px;
    }

    .choice {
        transform: scale(1.1);
        cursor: pointer;
        margin-left: 5vh;
    }

    .jumbo {
        background-color: #e9ecef;
    }

    .secondary-button{
        width : 170px;
        padding : 7px;
    }

    .question-row{
        display : flex;
        justify-content: space-around;
        align-items: center;

        img{
            width : 40%;
        }
    }

    .bubble-info{
        width : 50px;

        div{
            display : none;
            z-index: 900;
            width : 100%;
            height : 100%;
            color : white;
            padding : 5%;
            background-color: grey;
            opacity : 0.3;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        .bubble-info-txt {
            display : none;
            margin : auto;
            text-align: center;
            font-size : 1.1rem;
            z-index: 901;
            width : 30%;
            color : white;
            padding : 3%;
            background-color: $fourth-color;
            opacity : 1;
            border-radius : 20px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        div.displayed{
            display : block;
        }

        .bubble-info-txt.displayed{
            display : block;
        }
    }
}