@import "~bootstrap/scss/bootstrap";
@import "vars";

#final_estimation {
    margin : auto;
    @media screen and (min-width: 740px) {
        width : 80%;
    }
    @media screen and (min-width: 1024px) {
        width : 60%;
    }

    .container {
        padding : 2%;
    }

    .jumbotron{
        margin-bottom : 0;
    }

    h2{
        font-size : 1.3rem;
    }

    h3{
        font-size : 1.2rem;
    }

    h4 {
        margin-top: 10px;
        font-size : 1.1rem;
    }

    .form-check {
        font-style: italic;
        font-family: monospace;
    }

    .form-check-input {
        align-content: center;
        position: relative;
        cursor : pointer;
    }

    .choice-box {
        font-size : 1.1rem;
        padding-left : 3%;
    }

    .quest {
        font-size: 10px;
        box-shadow: 0 0 100px -15px lightgrey;
        margin-bottom: 32px;
    }

    .question-row{
        display : flex;
        justify-content: space-around;
        align-items: center;

        img{
            width : 4%;
            @media screen and (min-width: 740px) {
                width: 4%;
            }
            @media screen and (min-width: 1024px) {
                width: 3%;
            }
        }
    }

    .choice {
        transform: scale(1.1);
        cursor: pointer;
        margin-left: 5vh;
    }

    .jumbo {
        background-color: #e9ecef;
    }

    .secondary-button{
        width : 170px;
        padding : 7px;
    }
}