@import "vars";
@import '~bootstrap/scss/bootstrap';

.home {
  font-family: $primary-font;
  margin: 0;

  .header {
    .header-text {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;

      .color-primary {
        color: $primary-color;
      }

      .color-third {
        color: $third-color;
      }

      sup {
        text-transform: none;
      }
    }

    img {
      max-height: 250px;
    }
  }
}

.videoNatacha {
  width: 80%;
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
  }
.logo{
  width: 100px;
  height: 100px;
}
.constat{
  p {
    color: $primary-color;
  }
  .accroche_primaire{
    color: $third-color;

    .mot_cle{
      font-size: 32px;
    }
  }

  .img-constat {
    height: 23vh;
    width: 145px;
    margin-bottom: 40px;
    @include media-breakpoint-up(sm) {
      height: 150px;
    }
    @include media-breakpoint-up(md) {
      height: 170px;
    }

  }
}

/* CAROUSEL */
/*
.carousel {
  height:400px;

  .img-carousel {
    height: 60%;
    max-height: 400px;
    width: 50%;
    border: 3px solid #fff;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
  }

  .carousel-indicators li {
    background-color: $secondary-color;
  }
  .carousel-indicators .active {
    background-color: $primary-color;
  }
}
*/
// notre team
.for-4 {
  width: 70%;
  max-width: 80%;
}
