@import "vars";
@import '~bootstrap/scss/bootstrap';

.home {
    margin:0;
    .header {
       .header-text {
           font-size: 1rem;
           font-weight: 600;
           text-transform: uppercase;

           .color-primary {
               color: $primary-color;
           }

           .color-third {
               color: $third-color;
           }

           sup {
               text-transform: none;
           }
       }

       img {
           margin-top: -35%;
           max-height: 170px;

           @include media-breakpoint-up(md) {
               margin-top: -10%;
           }
           @include media-breakpoint-up(xl) {
               margin-top: -10%;
           }
       }
     }

    .img-home {
        width: 70%;
        max-width: 150px;
        height: auto;
    }

    .img-constat {
        height: 100px;
        width: auto;
        @include media-breakpoint-up(sm) {
            height: 150px;
        }
        @include media-breakpoint-up(md) {
            height: 170px;
        }

    }

    .comment-marche {
        background-color:$fifth-color;
        @include media-breakpoint-down(sm) {
            font-size: 0.9rem;
        }
        font-weight: 700;

        iframe {
            width: 300px;
            height: 169px;
            @include media-breakpoint-up(sm) {
                width: 360px;
                height:202px;
            }
            @include media-breakpoint-up(lg) {
                width: 480px;
                height:270px;
            }
        }

        img {
            width: 35px;
            height: auto;
        }
    }

    .logos {
        img {
            height: 30px;
            width: auto;
            padding: 2px;
            justify-content: center;
            @include media-breakpoint-up(md) {
                height: 70px;
            }
        }

        p {
            padding-top: 5px;
            font-size: 0.6rem;
            line-height: 0.7rem;
            font-weight: 600;
            @include media-breakpoint-up(md) {
                font-size: 0.8rem;
            }
        }
    }

    .photography {
        background-color: $sixth-color;
        img {
            width: 100%;
            height: auto;
            @include media-breakpoint-up(md) {
                width: 70%;
            }
        }
    }

    #bipbip-logo {
        margin-top: -10px;
        width: 40%;
        height: auto;
    }

    .phones-collected {
        background-color: $secondary-color;
        .explain-text {
            font-size: 1.3rem;
        }

        .recolted-number {
            font-size: 2.5rem;
            font-weight: 900;
            @include media-breakpoint-up(md) {
                font-size: 2.7rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 3.1rem;
            }
        }

        .recolted-text {
            margin-top: -1.3rem;
            font-size: 0.8rem;
            font-weight: 600;
            @include media-breakpoint-up(md) {
                font-size: 1.3rem;
            }
        }

        .img-phone {
            margin-top: -40%;
            margin-left: 20px;
            height: 180px;
            @include media-breakpoint-up(md) {
                height: 220px;
            }
        }
    }

    .logos-bas {
        img {
            height: 50px;
            width: auto;
            margin-bottom: 5px;
        }

        p {
            font-size: 0.8rem;
            font-weight: 600;
            @include media-breakpoint-up(md) {
                font-size: 1.3rem;
            }
        }

        .small-text {
            margin-top: -1rem;
            font-size: 0.6rem;
            @include media-breakpoint-up(md) {
                font-size: 0.8rem;
                font-weight: 100;
            }
        }
    }
}
