@import "vars";

.home{
   .header {
       display: flex;
       img {
           width: 40%;
           margin: -148px 0 10px;
           @media screen and (min-width: 1025px){
           }
       }
       h1{
           font-size : 1.3rem;
           margin : 3% auto;
           text-align : center;
           text-transform : uppercase;
           line-height: 1.5em;
           width : 80%;
           @media screen and (min-width: 740px) {
               width : 50%;
               font-size: 1.3rem;
               margin-top : 0;
           }
           @media screen and (min-width: 1025px) {
               width : 30%;
               font-size: 2.3rem;
               margin: 10px 5% 10px 15%;
           }

           img {
               width: 25%;
           }

           .blue-font{
               color : $secondary-color;
               font-weight : bold;
           }
       }
   }

    /* STEPS */
    .steps {
        display : flex;
        flex-direction : column;
        justify-content : flex-start;
        align-items : center;
        width : 60%;
        margin : 45px auto;

        @media screen and (min-width: 740px){
            display : flex;
            flex-direction : row;
            justify-content:  space-around;
            align-items: flex-start;
        }
        @media screen and (min-width: 1025px){
            margin : auto;

        }


        article{
            width : 300px;
            @media screen and (min-width: 1025px){
                width : 350px;
            }

            .step{

                height : 188px;
                width: 90%;
                max-width: 100%;
                margin : 10px;
                padding : 12% 0;
                display : flex;
                flex-flow : column wrap;
                justify-content: space-around;
                align-items: center;
                position: relative;
                border: 1px solid black;
                @media screen and (min-width: 740px){
                    width : 250px;
                    height : 250px;
                }
                @media screen and (min-width: 1025px){
                    width : 297px;
                    height : 298px;
                }

                .background-pic{
                    position: absolute;
                    width: 160%;
                    top: 0;
                    left: -82px;
                }



                div{
                    background-color : $secondary-color;
                    border-radius: 25px;
                    margin-right : 10px;
                    margin-bottom : 8px;
                    width : 150px;
                    vertical-align: center;
                    @media screen and (min-width: 740px) {
                        width : 130px;
                    }
                    @media screen and (min-width: 1025px) {
                        position: absolute;
                        top: 71%;
                        width : 150px;
                        margin-bottom : 15px;
                    }

                    h3{
                        font-size : 1.1rem;
                        font-weight: bold;
                        color : white;
                        margin : 0;
                        padding : 8px 15px;
                        text-align : center;

                        @media screen and (min-width: 740px) {
                            font-size: 1rem;
                        }
                        @media screen and (min-width: 1025px) {
                            padding : 5px 15px;
                            font-size : 1.1rem;
                        }
                    }
                }

                p{
                    text-transform : uppercase;
                    font-size : 0.8rem;
                    text-align : center;
                    margin : 0 10px 25px 0;
                    @media screen and (min-width: 740px) {
                        font-size: 0.7rem;
                    }
                    @media screen and (min-width: 1025px) {
                        font-size: 1rem;
                    }
                }
            }

            #step1 {
                .step-logo{
                    position: absolute;
                    margin-top : 15px;
                    top: -129%;
                    left: -99%;
                    width: 300%;
                    @media screen and (min-width: 1025px) {
                        top: -108%
                    }
                }
            }

            #step3{
                .step-logo{
                    position: absolute;
                    margin-top : 15px;
                    top: -111%;
                    left: -99%;
                    width: 300%;
                    @media screen and (min-width: 1025px) {
                        top: -103%
                    }
                }
            }
        }
    }

    /* BAIL BIPBIP */
    .bail-bipbip{
        margin : 80px auto;

        .we-are {
            position: relative;
            display: flex;
            img{
                width: 50%;
                margin:-16% -3% 0 7%;
                @media screen and (min-width: 1025px){
                    width: 40%;
                }
            }

            .planet {
                margin: -22% -1% 0 9%;
            }

            #p-planet {
                margin-top: -5%;
                margin-left: -9%
            }

            #bul-planet{
                top: 9%;
                @media screen and (min-width: 1025px){
                    top: 36%;
                }
            }

            p {
                width: 30%;
                margin-left: -11%;
                font-size: 1rem;
                @media screen and (min-width: 1025px){
                    font-size: 1.2rem;
                    margin-left: -5%;
                    width: 50%;
                }
            }

            .buble-text {
                position: absolute;
                bottom: 60%;
                right: 50%;
                top: 25%;
                background: $secondary-color;
                color: #FFFFFF;
                font-weight: bold;
                border-radius: 10px;
                width: 8%;
                height: 37px;
                padding: 8px 2px;
                text-align: center;
                @media screen and (min-width: 1025px){
                    width: 14%;
                    top: 44%;
                    right: 33%;
                }
            }
            .buble-text::after {
                content:"";
                border-right: 6px solid transparent;
                border-left: 14px solid transparent;
                border-top: 27px solid $secondary-color;
                position: absolute;
                top: 52%;
                right: 2%;
            }
        }


    }

    /* PARTNERS */
    .home-partner{
        margin : 80px auto;

        h3{
            font-size : 1.3rem;
            color : $primary-color;
            text-align: center;
            font-weight: bold;
            margin : 2% 8%;
        }

        article{
            display : flex;
            justify-content: center;
            flex-wrap : wrap;
            margin-bottom : 6%;
            margin-top : 6%;
            @media screen and (min-width: 740px) {
                width : 80%;
                margin : auto;
            }

            a {
                display : block;
                width : 18%;
                margin: 4%;
                @media screen and (min-width: 740px) {
                    width : 12%;
                }

                img {
                    width: 100%;
                    @media screen and (min-width: 740px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    /* CONTACT */
    .contact{
        margin : 80px auto;

        .fourth-button{
            font-size : 1rem;
            width : 150px;
        }
    }
}
