@import "vars";
@import '~bootstrap/scss/bootstrap';

.home {
    .header {
       .header-text {
           font-size: 1rem;
           font-weight: 600;
           text-transform: uppercase;

           .color-primary {
               color: $primary-color;
           }

           .color-third {
               color: $third-color;
           }

           sup {
               text-transform: none;
           }
       }

       img {
           margin-top: -35%;
           max-height: 170px;

           @include media-breakpoint-up(md) {
               margin-top: -10%;
           }
           @include media-breakpoint-up(xl) {
               margin-top: -10%;
           }
       }
     }

    .img-home {
        width: 70%;
        max-width: 150px;
        height: auto;
    }

    .img-constat {
        height: 100px;
        width: auto;
        @include media-breakpoint-up(sm) {
            height: 150px;
        }
        @include media-breakpoint-up(md) {
            height: 170px;
        }

    }

    .combien-vaut {
        .explain-text {
            font-size: 1.3rem;
        }

        .recolted-text {
            font-size: 2rem;
            font-weight: 900;
            @include media-breakpoint-up(md) {
                font-size: 2.7rem;
            }
        }

        .img-phone {
            height: 250px;
        }
    }

    .comment-marche {
        .explain-text-color {
            color: $primary-color;
            font-weight: bold;
        }

        .border-bottom-color {
            border-bottom: solid $primary-color;
            border-bottom-width: 14px;
        }
    }
}
