@import "vars";

.partnersList {
    section{
        display: flex;
        justify-content : space-around;
        flex-wrap: wrap;

        article {
            margin: 10px;
            .logo{
                width: 10%;
                img{
                    width :100px;
                    margin : 4% 0%;
                }
            }

            a {
                font-size: 1em;

            }
        }
    }

    .aLink{
        display: block;
        text-decoration: underline;
        text-align: center;
    }
}


