@import "app";

#estimations-show{
    h3{
        background-color : $secondary-color;
        color : white;
        text-align : center;
        font-size : 1.1rem;
        width : 50%;
        margin : auto;
        padding : 5px;
        border-top-right-radius : 5px;
        border-top-left-radius: 5px;
    }

    .tables{
        display : flex;
        justify-content: center;

        .table-left, .table-right{
            margin : 30px 40px;

            th{
                padding : 5px 30px;
                border-bottom : 1px solid #dee2e6;
            }

            td{
                border-bottom : 1px solid #dee2e6;
            }
        }
    }

    section{
        display : flex;
        justify-content: center;

        a{
            margin : 30px 50px;
            width : 150px;
        }
    }
}

