@import "vars";
@import "~bootstrap/scss/bootstrap";

main {
    color: $fourth-color;

    h2 {
        text-align: center;
        font-size: 2.5rem;
    }
    ul {
        text-decoration: none;
        list-style-type: none;
        margin-top: 5%;
        margin-left: 5%;
        font-size: 1.6rem;

        li {
            margin-top: 2%;

        }
    }
}

