<form method="post" action="{{ path('faq_delete', {'id': f_a_q.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cette ligne?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ f_a_q.id) }}">
    <button class="btn fourth-button">Supprimer</button>
</form>
