{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block title %} Foire Aux Questions {% endblock %}

{% block body %}
    <main id="faq">

    <div class = primary-title>
        <h1> Foire Aux Questions </h1>
    </div>

        {% for faq in faqContent %}
            <div class="menu-faq">
                <article class="question">{{faq.question}}</article>
                <article class="answer">{{faq.answer}}</article>
            </div>
            {% endfor %}

    </main>
{% endblock %}
{%  block javascripts %}
    {{ encore_entry_script_tags('faq') }}
{% endblock %}
