{% extends 'base.html.twig' %}

{% block title %}Nouvel question{% endblock %}

{% block body %}
    <h1>Créer une nouvelle question</h1>

    {{ include('faq/_form.html.twig') }}

    <a class="fourth-button" href="{{ path('faq_index') }}">Retour à la liste</a>
{% endblock %}
