<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Administration {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
    <div class="card-id">
        <article>
            <p>Identifiant</p>
            <p>Role</p>
        </article>
        <h1>Bienvenue sur l'interface d'administration</h1>
    </div>

<div class="searchBar">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<ul id="myUL">
    <li><a href="#"></a></li>
</ul>
</div>

<main class="cards-admin">
    <div class="menu-admin">
        <ul class="icon-menu">
            <li class="estimations"><a href="#">Estimations</a></li>
            <li class="collecters"><a href="#">Collecteurs</a>
                    <p class="collecterActionsLister">Lister</p>
                    <p class="collecterActionsAdd">Ajouter</p>
            </li>
            <li class="officialDocuments"><a href="#">Documents stockés</a>
                    <p class="officialDocumentsBc">Bons de cessions</p>
                    <p class="officialDocumentsCi">Cartes d'identitées</p>
            </li>
        </ul>
    </div>
    <div class="card-central-admin">
        <p></p>
    </div>


{%  block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</main>
</html>


