{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %}Administration {% endblock %}

{% block body %}
    <main id="admin">

    <div class = primary-title>
        <h1>Interface d'administration</h1>
    </div>

       <p>Bienvenue sur l'interface d'administration</p>

    </main>
{% endblock %}

