<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Administration {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
    <div class="card-id">
        <article>
            <p>Identifiant</p>
            <p>Role</p>
        </article>
        <h1>Bienvenue sur l'interface d'administration</h1>
    </div>

<div class="form-group">
<input class="form-control" type="text" id="search-user" value="" placeholder="Recherche par nom">
<ul id="myUL">
    <li><a href="#"></a></li>
</ul>
</div>

<main class="cards-admin">
    <div class="menu-admin">
        <ul class="icon-menu">
            <li class="estimations"><a href="#">Estimations</a></li>
            <li class="collecters">
                <a href="#">Collecteurs</a>
                    <button type="button" class="collecterActionsLister">Lister</button>
                    <button type="button" class="collecterActionsAdd">Ajouter</button>
            </li>
            <li class="officialDocuments">
                <a href="#">Documents stockés</a>
                    <button type="button" class="officialDocumentsBc">Bons de cessions</button>
                    <button type="button" class="officialDocumentsCi">Cartes d'identitées</button>
            </li>
        </ul>
    </div>
    <div class="card-central-admin">
        <p></p>
    </div>


{%  block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</main>
</html>

