{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto text-center form p-4">
                <h1 class="primary-title">Estime ton tel</h1>
                <h2 class="text-dark">Voici la liste disponible</h2>
                {% for brand in brands %}
                    <a class="btn btn-success" href="{{ path('modify_estimationModel', {'id': id, 'brand': brand}) }}">{{ brand }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto text-center form p-4">
                <a class="btn btn-primary" href="{{ path("autres") }}">Autres...</a>
            </div>
        </div>
    </div>
{% endblock %}