{% extends 'admin/index.html.twig' %}
{# this twig allow to admin the anonymisation of old datas #}
{% block title %}Nettoyage des données{% endblock %}

{%  block body %}
    <main class="container">
        <h1 class="primary-title">Anonymisation des données</h1>
        <div class="row mb-3">
<p>Le RGPD nous demande de ne pas conserver les données d'utilisateurs non connectés depuis plus de 3 ans. Cette page permet de gérer les utilisateurs concernés.</p>
        </div>
        <div class="row mb-3">
            <p>Utilisateurs non connectés depuis plus de 3 ans</p>
        </div>
        {% for user in users %}
            {{ user.firstname }} {{ user.lastname }}<br>
        {%  endfor %}
    </main>
{%  endblock %}

{% block footer %}{%  endblock %}