{% extends 'base.html.twig' %}

{% block title %}Liste des bons de cession stockés{% endblock %}

{% block body %}
    <h1 class="primary-title">Liste des bons de cession stockés</h1>
    <ul>
    {% for file in files %}
        <li><a href="../uploads/BDC/{{ file }}">{{ file }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

