{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block title %}Ajout de la signature{% endblock %}

{% block body %}
       <div class="container">
                <div class="row">
                        <div class="col-12 mx-auto text-center form p-4">
                            <h1 class = primary-title>Ajout de la signature</h1>
                            <p>Signer ici</p>
                            <canvas id="canvas" class="border border-success border-5"></canvas>
                            <p>(<span id="bt-clear">recommencer</span>)</p>
                            <a href="{{ path('bdc_pdf', { 'id': estimation.id}) }}" title="Envoyer la signature" class="primary-button">Valider la signature</a>
                        </div>
                </div>
       </div>
{% endblock %}
{% block footer %}{% endblock %}
{%  block javascripts %}
{{ encore_entry_script_tags('signature') }}
{% endblock %}