{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto text-center form p-4">
                <h1 class="primary-title">Estimation</h1>
                {% if message %}
                <p class="text-danger">{{ message }}</p>
                {% else %}
                <h2 class="text-dark">Ton téléphone a une valeur de :</h2>
                <h3 class="secondary-button">{{ estimation.estimatedPrice }} Euros</h3>
                {% endif %}
                {% if app.user %}
                <div class="jumbotron">
                    <h4>Pour finaliser la vente de ton téléphone, </h4>
                    <a class="btn btn-primary" href="{{ path("show_collect") }}">Choisis une collecte</a>
                </div>
                {% else %}
                <div class="jumbotron">
                    <h4>Pour finaliser la vente de ton téléphone, crée ton compte et accède aux lieux de collecte</h4>
                    <a class="btn btn-primary" href="{{ path("estimation_register_user", {estimation: estimation.id}) }}">Créer mon compte</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}