{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto text-center form p-4">
                <h1 class="primary-title">Estime ton tél</h1>
                <h2 class="text-dark">Choisis la marque</h2>
                {% for brand in brands %}
                <a class="primary-button" href="{{ path('estimation_brand', {'brand':brand}) }}">{{ brand }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto text-center form p-4">
                <a class="third-button" href="{{ path("autres") }}">Autres...</a>
            </div>
        </div>
    </div>
{% endblock %}