{% extends 'admin/index.html.twig' %}

{% block title %}Edit Estimations{% endblock %}

{% block body %}
    <h1>Edit Estimations</h1>

    {{ include('estimations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('estimations_index') }}">back to list</a>

    {{ include('estimations/_delete_form.html.twig') }}
{% endblock %}
