{% extends 'admin/index.html.twig' %}

{% block title %}Vérification de l'estimation{% endblock %}

{% block body %}
    <main class="pay">
        {% for error in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ success }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-12 mx-auto text-center form p-4">
                <h1 class="primary-title">Etape 2 : vérification des informations</h1>
            </div>
                {{ include('estimations/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </main>
{% endblock %}
