{% extends 'base.html.twig' %}
{% block title %}Contacte-nous !{% endblock %}
{% block body %}
    <h1 class="primary-title">Contacte-nous</h1>
    {{ include('contact/_form.html.twig') }}
{% endblock %}