{% block body %}
    <p>
        Bonjour,
    </p>
    <p>
        Nous sommes inquiets, voilà plusieurs mois que nous ne t'avons pas vu sur
        <a href="https://172.17.64.2/" alt=BipBip">
            BipBip Mobile
        </a>.
    </p>
    <p>
        Sans nouvelle de ta part, ton compte sera détruit dans un mois.<br>
        Si tu veux garder ton accès, il suffit juste de
        <a href="https://172.17.64.2/login" alt=connexion">
            te connecter à BipBip Mobile
        </a>.
    </p>
    <p>
        A bientôt !
    </p>
    <p>
        --<br>
        L'équipe BipBip Mobile
    </p>
{% endblock %}