<form method="post" action="{{ path('collects_delete', {'id': collect.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette collecte ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collect.id) }}">
    <button class="fourth-button">Supprimer</button>
</form>
