{% extends 'admin/index.html.twig' %}

{% block title %}Nouvelle collecte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-tables') }}
{% endblock %}

{% block body %}
    <main id="new-collect">
        <h2 class="primary-title">Ajout d'une collecte</h2>

        {{ include('collects/_form.html.twig') }}
    </main>
{% endblock %}
