<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://use.typekit.net/xdq8cqe.css">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            <p class="logo-bipbip"><img src="/images/logo-bipbip.png" alt="logo bipbip" /></p>
            <nav>
                <div class="menu-burger">
                    <img src="/images/menu-burger.png" alt="menu burger" />
                    <p>Menu</p>
                </div>
                <div class="faq-button">
                    <p>FAQ</p>
                </div>
            </nav>
        </header>

        {% block body %}
        {% endblock %}

        <footer>
            <div class="social-networks">
                <a href="#" title="Lien vers la page facebook">
                    <img src="/images/facebook.png" alt="logo de Facebook" />
                </a>
                <a href="#" title="Lien vers la page Instagram">
                    <img src="/images/instagram.png" alt="logo d'Instagram" />
                </a>
                <a href="#" title="Lien vers le compte Twitter">
                    <img src="/images/twitter.png" alt="logo de Twitter" />
                </a>
            </div>
            <div class="legal-section">
                <a href="#" title="Lien vers les mentions légales">Mentions Légales</a>
                <a href="#" title="Lien vers les paramètres de cookies">Cookies</a>
                <a href="#" title="Lien vers les Conditions Générales d'Utilisation">Conditions Générales d'Utilisation</a>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>

</html>
