<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://use.typekit.net/xdq8cqe.css">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header>
            <a href="{{ path('home') }}" class="logo-bipbip"><img src="/images/logo-bipbip.png" alt="logo bipbip" /></a>
            <nav>
                <div class="menu-burger">
                    <img src="/images/menu-burger.png" alt="menu burger" />
                    <p>Menu</p>
                </div>
                <div class="faq-button">
                    <p>FAQ</p>
                </div>
            </nav>
        </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        <footer>
            <h2 class="primary-title">Plus d'infos</h2>
            <ul>
                <li><a href="#" title="Page qui-sommes-nous">Qui sommes-nous ?</a></li>
                <li><a href="#" title="Revendre ton tèl">Revendre ton tèl</a></li>
                <li><a href="#" title="Offre étudiants">Offre étudiants</a></li>
                <li><a href="#" title="On recrute">On recrute</a></li>
                <li><a href="#" title="Presse Kit">Presse Kit</a></li>
                <li><a href="#" title="Devenir organisateur de collecte">Tu veux devenir organisateur de collecte</a></li>
                <li><a href="#" title="Collectes et évènements">Collectes et évènements</a></li>
                <li><a href="#" title="FAQ">Besoin d'aide ?</a></li>
                <li><a href="#" title="Paiement">Paiement</a></li>
                <li><a href="#" title="Livraison">Livraison</a></li>
                <li>Ce que l'on oublie de lire (
                    <a href="#" title="Conditions Générales de Vente">CGV</a>
                     -
                    <a href="#" title="Conditions Générales d'Utilisation">CGU</a>
                     -
                    <a href="#" title="Protection des données">Protections des données</a>
                     -
                    <a href="#" title="Cookies">Cookies</a>
                     -
                    <a href="#" title="Mentions Légales">Mentions Légales</a>
                </li>
            </ul>
            <div class="social-networks">
                <a href="#" title="Lien vers la page facebook">
                    <img src="/images/facebook.png" alt="logo de Facebook" />
                </a>
                <a href="#" title="Lien vers la page Instagram">
                    <img src="/images/instagram.png" alt="logo d'Instagram" />
                </a>
                <a href="#" title="Lien vers le compte Twitter">
                    <img src="/images/linkedin.png" alt="logo de Twitter" />
                </a>
                <a href="#">
                    <img src="/images/like.png" alt="Like" />
                </a>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>

</html>
