<nav class="menu">
    <ul>
        <li><a href="#" title="Accueil">Accueil</a></li>
        <li><a href="#" title="Qui sommes-nous ?">Qui sommes-nous ?</a></li>
        <li><a href="#" title="Nos partenaires">Nos partenaires</a></li>
        <li><a href="#" title="Nous contacter">Contact</a></li>
        <li><a href="#" title="Estime ton mobile">Estime ton mobile</a></li>
    </ul>
</nav>