<form method="post" action="{{ path('collectors_delete', {'id': collector.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce collecteur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collector.id) }}">
    <button class="fourth-button">Supprimer</button>
</form>
