{% extends 'base.html.twig' %}

{% block body %}

    <div class="container col-10 d-flex flex-wrap justify-content-between mt-5">
        <div class="card col-5 mt-2 mb-2 border-dark">
            <img src="/images/echange-tel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">
                    DEPOT
                </h5>
                <p class="card-text text-center">
                    En cliquant sur "Trouver un point de collecte", tu seras redirigé vers
                    la page te proposant différentes collectes disponibles
                </p>
                <a class="btn btn-info" href="{{ path('show_collect') }}">
                    Trouver un point de collecte
                </a>
            </div>
        </div>

        <div class="card col-5 mt-2 mb-2 border-dark">
            <img src="/images/chronopost-colis.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">
                    CHRONOPOST
                </h5>
                <p class="card-text text-center">
                    Avec BipBip il est possible de te générer une étiquette chronopost à
                    coller sur ton colis et l'envoyer directement à notre dépot.
                </p>
                <a class="btn btn-info" href="{{ path('envoi_chronopost', {'user': user, 'id': estimation.id} ) }}">
                    Envoie par chronopost
                </a>
            </div>
        </div>
        <div class="col-12">
            <p class="card-text text-danger text-center font-italic mt-3 mb-5">
                Le paiement sera
                effectué lors de la réception du téléphone et la validation de l'état indiqué lors de
                ton estimation.
            </p>
        </div>
       <a href="{{ path('user_show', {'id': user.id }) }}" class="btn btn-success m-auto">
           Retour au profil
       </a>
    </div>

{% endblock %}