{% extends 'base.html.twig' %}

{% block title %}New Profil{% endblock %}

{% block body %}
    <h1 class="primary-title">Créer ton profil</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
